In [2]:
#Execute this cell if have problem with relative import

import sys; sys.path.insert(0, '..')

In [3]:
from pprint import pprint

In [22]:
import pandas as pd
pd.set_option('display.max_columns', None)
bat_df = pd.read_csv("../Data/Corpus_csv/batters_all_career.csv")

In [23]:
bat_df.head()

,Id,Name,Active,First year,Last year,Url,Country,Bat hand,Throw hand,Full Name,HoF,HoF type,HoF year,HoF comittee,Player type,retirement_age,total_seasons,career_teams,career_leagues,first_position,second_position,play_in_mayors,play_in_negro_league,two_way_player,2B_bt,3B_bt,AB_bt,BA_bt,BB_bt,CS_bt,G_bt,HR_bt,H_bt,IBB_bt,OBP_bt,OPS+_bt,OPS_bt,PA_bt,RAA_bt,RAR_bt,RBI_bt,R_bt,Rbaser_bt,Rbat_bt,Rdp_bt,Rfield_bt,Rpos_bt,Rrep_bt,SB_bt,SF_bt,SH_bt,SLG_bt,SO_bt,TB_bt,WAA_bt,WAR_bt,dWAR_bt,oRAR_bt,oWAR_bt,A_fd,CG_fd,CS%_fd,CS_fd,Ch_fd,DP_fd,E_fd,Fld%_fd,GS_fd,G_fd,Inn_fd,PB_fd,PO_fd,RF/9_fd,RF/G_fd,SB_fd,WP_fd
0,Aaron_Altherr_320,Aaron Altherr,False,2014,2019,https://www.baseball-reference.com//players/a/...,de,Right,Right,Aaron Samuel Altherr,0,-,-,-,2,28,6,['PHI'],['NL'],OF,-,1,0,0,54.0,10.0,1016.0,0.219,110.0,10.0,359.0,37.0,222.0,4.0,0.307,88.0,0.708,1156.0,-17.0,21.0,150.0,142.0,1.0,-14.0,-1.0,7.0,-10.0,38.0,21.0,6.0,1.0,0.401,332.0,407.0,-2.1,1.6,-0.5,13.0,0.9,30.0,366.0,NaN,0.0,1110.0,12.0,12.0,0.989,494.0,669.0,4609.0,NaN,1068.0,2.14,1.64,0.0,NaN
1,Abe_Atkins_626,Abe Atkins,False,1923,1923,https://www.baseball-reference.com//players/a/...,us,desconocido,desconocido,Abe Atkins,0,-,-,-,2,29,1,['TT'],['NNL'],3B,-,0,1,0,0.0,0.0,1.0,0.000,0.0,NaN,1.0,0.0,0.0,NaN,0.000,-100.0,0.000,2.0,-1.0,-1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.000,NaN,0.0,-0.1,-0.1,0.0,-1.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.000,1.0,1.0,5.0,NaN,0.0,0.00,0.00,NaN,NaN
2,Abiatal_Avelino_670,Abiatal Avelino,False,2018,2019,https://www.baseball-reference.com//players/a/...,do,Right,Right,Abiatal Avelino,0,-,-,-,2,24,2,['SFG'],['NL'],SS,2B,1,0,0,0.0,0.0,18.0,0.278,1.0,0.0,10.0,0.0,5.0,0.0,0.316,65.0,0.594,19.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.278,6.0,5.0,-0.1,0.0,0.0,0.0,0.0,11.0,2.0,NaN,NaN,22.0,2.0,1.0,0.955,6.0,7.0,43.2,NaN,10.0,4.38,3.00,NaN,NaN
3,Abraham_Almonte_292,Abraham Almonte,True,2013,2021,https://www.baseball-reference.com//players/a/...,do,Both,Right,Abraham Almonte,0,-,-,-,2,32,9,"['SEA', 'CLE', 'KCR', 'ARI', 'SDP', 'ATL']","['AL', 'NL']",OF,-,1,0,0,70.0,13.0,1186.0,0.234,117.0,9.0,440.0,23.0,278.0,1.0,0.302,82.0,0.676,1326.0,-32.0,14.0,116.0,161.0,1.0,-32.0,2.0,2.0,-6.0,47.0,26.0,11.0,9.0,0.374,307.0,443.0,-3.2,1.3,-0.2,12.0,1.0,42.0,476.0,NaN,NaN,1272.0,10.0,34.0,0.973,594.0,738.0,5299.1,NaN,1196.0,2.10,1.68,NaN,NaN
4,Adams_69,Adams,False,1942,1942,https://www.baseball-reference.com//players/a/...,desconocido,desconocido,desconocido,desconocido,0,-,-,-,2,desconocido,1,['MRS'],['NAL'],C,-,0,1,0,0.0,0.0,0.0,NaN,0.0,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0

In [24]:
bat_df.shape

(12975, 76)

In [7]:
from Preprocessing.data_keys import headers_bio, headers_bat

In [38]:
from Preprocessing.data_frame_procces import filter_dataset, select_features

In [9]:
gt_conditions = {
    "total_seasons":3,
    'G_bt':100
}
eq_conditions = {
    "HoF type":['-','Player']
}
filter_df = filter_dataset(bat_df, eq_conditions,gt_conditions, None, None)

In [10]:
filter_df.shape

(6168, 76)

In [11]:
for h in headers_bat:
    nan = filter_df[h].isna().any()
    if nan:
        print(f"{h}:{nan} --->{filter_df[h].isna().sum()}")
        #print(f"{h}:{bat_df[h].isna().sum()}")

CS_bt:True --->1072
IBB_bt:True --->1519
SB_bt:True --->38
SF_bt:True --->2346
SH_bt:True --->366
SO_bt:True --->412
CS%_fd:True --->5075
CS_fd:True --->4286
PB_fd:True --->4790
SB_fd:True --->4286
WP_fd:True --->4790

In [12]:
print(filter_df['HoF'].value_counts())
filter_df['HoF type'].value_counts()

0    5972
1     196
Name: HoF, dtype: int64

-         5972
Player     196
Name: HoF type, dtype: int64

In [13]:
inactives_cond = {"Active":[False]}
inactive_bat_df = filter_dataset(filter_df, inactives_cond, None, None, None)

In [14]:
inactive_bat_df.shape

(5715, 76)

In [15]:
print(inactive_bat_df['HoF'].value_counts())
inactive_bat_df['HoF type'].value_counts()

0    5519
1     196
Name: HoF, dtype: int64

-         5519
Player     196
Name: HoF type, dtype: int64

In [18]:
negro_league_condition = {
    'play_in_negro_league':[1]
}
negro_lg_bat_df = filter_dataset(filter_df, negro_league_condition, None, None, None)

In [19]:
negro_lg_bat_df.shape

(447, 76)

In [26]:
negro_lg_bat_df.describe()

,First year,Last year,HoF,Player type,total_seasons,play_in_mayors,play_in_negro_league,two_way_player,2B_bt,3B_bt,AB_bt,BA_bt,BB_bt,CS_bt,G_bt,HR_bt,H_bt,IBB_bt,OBP_bt,OPS+_bt,OPS_bt,PA_bt,RAA_bt,RAR_bt,RBI_bt,R_bt,Rbaser_bt,Rbat_bt,Rdp_bt,Rfield_bt,Rpos_bt,Rrep_bt,SB_bt,SF_bt,SH_bt,SLG_bt,SO_bt,TB_bt,WAA_bt,WAR_bt,dWAR_bt,oRAR_bt,oWAR_bt,A_fd,CG_fd,CS%_fd,CS_fd,Ch_fd,DP_fd,E_fd,Fld%_fd,GS_fd,G_fd,Inn_fd,PB_fd,PO_fd,RF/9_fd,RF/G_fd,SB_fd,WP_fd
count,447.000000,447.000000,447.000000,447.0,447.000000,447.000000,447.0,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,75.000000,447.000000,447.000000,447.000000,182.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,147.000000,447.000000,447.000000,43.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,82.000000,269.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,447.000000,137.000000,447.000000,447.000000,447.000000,269.000000,137.000000
mean,1928.738255,1939.006711,0.064877,2.0,8.776286,0.194631,1.0,0.029083,49.120805,16.333333,1128.686801,0.271707,109.809843,9.600000,329.668904,18.561521,320.402685,4.620879,0.334047,93.765101,0.708944,1277.400447,14.583893,55.903803,165.326622,185.252796,0.440716,8.194631,0.042506,1.941834,4.015660,41.266219,28.017897,2.904762,30.642058,0.374884,202.930233,457.874720,1.341163,5.246085,0.156600,53.964206,4.942506,257.431767,54.185682,0.014634,1.847584,1120.805369,45.284116,44.496644,0.950606,177.038031,346.111857,2567.182327,5.919708,818.876957,4.265996,3.001902,35.520446,4.197080
std,8.067870,9.511496,0.246585,0.0,4.119196,0.396360,0.0,0.168227,55.464235,17.240929,1080.039605,0.038514,140.185598,24.645048,295.280527,44.908329,328.129348,20.528493,0.043177,31.760254,0.119678,1244.339972,85.380008,118.639209,191.768676,206.109980,4.821983,77.713716,1.976426,14.395478,16.874829,43.006552,38.143224,11.193402,26.654185,0.080639,321.209203,531.265928,8.196636,11.530983,2.038551,109.570927,10.587385,376.324327,354.564716,0.080311,20.480492,1437.563233,79.144684,41.668609,0.023611,399.134165,433.419686,3794.560110,10.269929,1262.584107,2.366043,1.684299,52.642597,28.312811
min,1920.000000,1922.000000,0.000000,2.0,3.000000,0.000000,1.0,0.000000,0.000000,0.000000,178.000000,0.130000,8.000000,0.000000,100.000000,0.000000,25.000000,0.000000,0.169000,-15.000000,0.315000,198.000000,-125.000000,-60.000000,4.000000,11.000000,-8.000000,-141.000000,-18.000000,-44.000000,-76.000000,1.000000,0.000000,0.000000,3.000000,0.146000,0.000000,28.000000,-11.000000,-5.100000,-9.800000,-61.000000,-5.500000,2.000000,0.000000,0.000000,0.000000,54.000000,0.000000,0.000000,0.861000,0.000000,79.000000,82.000000,0.000000,10.000000,1.130000,0.410000,0.000000,0.000000
25%,1922.000000,1930.000000,0.000000,2.0,6.000000,0.000000,1.0,0.000000,17.500000,6.000000,497.000000,0.247500,39.000000,0.000000,155.000000,3.000000,128.500000,0.000000,0.306000,72.500000,0.632000,551.000000,-20.000000,3.000000,58.000000,65.000000,-1.000000,-25.000000,0.000000,-4.000000,-6.000000,17.000000,7.000000,0.000000,12.000000,0.318500,8.500000,171.000000,-1.850000,0.400000,-0.600000,4.000000,0.300000,67.500000,0.000000,0.000000,0.000000,384.000000,9.000000,16.500000,0.936000,53.000000,153.500000,861.500000,0.000000,209.500000,2.370000,1.820000,0.000000,0.000000
50%,1926.000000,1939.000000,0.000000,2.0,8.000000,0.000000,1.0,0.000000,29.000000,10.000000,759.000000,0.271000,65.000000,0.000000,233.000000,6.000000,206.000000,0.000000,0.335000,93.000000,0.704000,862.000000,-2.000000,21.000000,94.000000,114.000000,0.000000,-7.000000,0.000000,0.000000,3.000000,28.000000,15.000000,0.000000,22.000000,0.367000,24.000000,278.000000,-0.200000,1.900000,-0.100000,21.000000,1.900000,136.000000,0.000000,0.000000,0.000000,672.000000,18.000000,32.000000,0.952000,96.000000,226.000000,1581.100000,2.000000,462.000000,3.730000,2.640000,17.000000,0.000000
75%,1935.000000,1947.000000,0.000000,2.0,11.000000,0.000000,1.0,0.000000,60.000000,20.000000,1424.000000,0.297000,127.500000,5.500000,402.500000,16.000000,412.500000,0.000000,0.359000,113.000000,0.789000,1592.000000,23.000000,62.000000,202.000000,238.500000,0.000000,16.000000,0.000000,4.000000,13.000000,52.500000,33.000000,0.000000,41.000000,0.425000,292.000000,571.500000,2.000000,5.750000,0.600000,62.000000,5.500000,291.000000,0.000000,0.000000,0.000000,1248.000000,48.000000,55.500000,0.969000,185.500000,404.000000,2889.550000,8.000000,817.500000,5.460000,3.830000,50.000000,0.000000
max,1948.000000,1980.000000,1.000000,2.0,23.000000,1.000000,1.0,1.000000,525.000000,141.000000,10924.000000,0.408000,1468.000000,130.000000,3005.000000,660.000000,3293.000000,214.000000,0.492000,214.000000,1.178000,12545.000000,1039.000000,1494.000000,1909.000000,2068.000000,78.000000,804.000000,21.000000,185.000000,65.000000,455.000000,338.000000,91.000000,160.000000,0.720000,1526.000000,6080.000000,109.900000,156.100000,18.200000,1309.000000,136.500000,4417.000000,5148.000000,0.600000,252.000000,15563.000000,848.000000,300.000000,1.000000,5580.000000,5784.000000,49697.100000,75.000000,14838.000000,11.890000,11.020000,356.000000,248.000000

In [27]:
negro_lg_bat_df['HoF'].value_counts()

0    418
1     29
Name: HoF, dtype: int64

In [30]:
mayor_league_condition = {
    'play_in_mayors':[1]
}
mayors_lg_bat_df = filter_dataset(filter_df, mayor_league_condition, None, None, None)

In [32]:
mayors_lg_bat_df.shape

(5808, 76)

In [33]:
inactive_mayors_lg_bat_df = filter_dataset(inactive_bat_df, mayor_league_condition, None, None, None)

In [35]:
inactive_mayors_lg_bat_df.shape

(5355, 76)

In [36]:
inactive_mayors_lg_bat_df.describe()

,First year,Last year,HoF,Player type,total_seasons,play_in_mayors,play_in_negro_league,two_way_player,2B_bt,3B_bt,AB_bt,BA_bt,BB_bt,CS_bt,G_bt,HR_bt,H_bt,IBB_bt,OBP_bt,OPS+_bt,OPS_bt,PA_bt,RAA_bt,RAR_bt,RBI_bt,R_bt,Rbaser_bt,Rbat_bt,Rdp_bt,Rfield_bt,Rpos_bt,Rrep_bt,SB_bt,SF_bt,SH_bt,SLG_bt,SO_bt,TB_bt,WAA_bt,WAR_bt,dWAR_bt,oRAR_bt,oWAR_bt,A_fd,CG_fd,CS%_fd,CS_fd,Ch_fd,DP_fd,E_fd,Fld%_fd,GS_fd,G_fd,Inn_fd,PB_fd,PO_fd,RF/9_fd,RF/G_fd,SB_fd,WP_fd
count,5355.000000,5355.000000,5355.000000,5355.0,5355.000000,5355.0,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,4606.000000,5355.000000,5355.000000,5355.000000,4073.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5317.000000,3270.000000,4989.000000,5355.000000,5290.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,950.000000,1514.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,1184.000000,5355.000000,5355.000000,5355.000000,1514.000000,1184.000000
mean,1954.332400,1963.342857,0.032680,2.0,9.006909,1.0,0.016246,0.018674,113.602988,23.364706,2477.766760,0.254077,235.959290,22.438341,757.647059,52.154435,664.622035,21.065799,0.317620,88.588982,0.683554,2777.054528,5.812325,97.858263,306.383007,338.735387,0.216060,3.560037,-0.130532,0.949767,1.239216,91.979645,54.271958,20.557798,33.060934,0.365939,331.661059,981.417740,0.328347,9.498133,0.052923,96.871895,9.519739,769.549206,664.395145,0.329684,105.970277,3315.740056,175.794211,95.701027,0.963902,783.633427,943.240710,6807.365061,44.853885,2450.489823,4.563483,3.606822,175.833554,72.551520
std,40.408926,40.431675,0.177814,0.0,4.465213,0.0,0.126434,0.135384,116.802032,29.671495,2226.432593,0.028891,264.381095,28.737888,600.482850,83.728836,643.434333,33.123698,0.035952,22.801749,0.091093,2518.238335,102.383082,166.845964,331.740069,349.510644,10.147539,105.409663,5.818988,32.200679,37.705736,85.801783,92.057012,22.397836,45.615556,0.062542,341.019587,998.946085,10.259220,16.670123,5.444400,158.512179,15.873883,1196.532107,772.033303,0.129451,177.397153,3372.085956,286.979601,113.887110,0.032608,873.713416,894.193721,6813.610591,69.670227,2923.749991,2.082866,1.959219,263.431123,106.567671
min,1871.000000,1873.000000,0.000000,2.0,3.000000,1.0,0.000000,0.000000,0.000000,0.000000,29.000000,0.139000,1.000000,0.000000,100.000000,0.000000,6.000000,0.000000,0.180000,7.000000,0.349000,31.000000,-244.000000,-96.000000,0.000000,7.000000,-39.000000,-317.000000,-47.000000,-253.000000,-204.000000,0.000000,0.000000,0.000000,0.000000,0.169000,0.000000,10.000000,-21.500000,-9.800000,-28.400000,-120.000000,-15.000000,0.000000,0.000000,0.000000,0.000000,26.000000,0.000000,0.000000,0.721000,0.000000,33.000000,80.100000,0.000000,7.000000,1.000000,0.230000,0.000000,0.000000
25%,1921.000000,1930.000000,0.000000,2.0,5.000000,1.0,0.000000,0.000000,28.000000,5.000000,742.500000,0.236000,55.000000,4.000000,270.000000,6.000000,178.000000,3.000000,0.295000,73.000000,0.623000,828.000000,-38.000000,2.000000,73.000000,86.000000,-3.000000,-38.000000,-1.000000,-12.000000,-14.000000,26.000000,6.000000,4.000000,6.000000,0.322000,97.000000,248.000000,-4.000000,0.000000,-2.000000,4.000000,0.300000,90.000000,121.000000,0.300000,0.000000,910.000000,17.000000,24.000000,0.957000,162.500000,284.000000,1919.100000,7.000000,575.000000,2.780000,2.070000,0.000000,0.000000
50%,1962.000000,1971.000000,0.000000,2.0,8.000000,1.0,0.000000,0.000000,69.000000,12.000000,1688.000000,0.255000,138.000000,12.000000,569.000000,19.000000,431.000000,9.000000,0.318000,88.000000,0.683000,1866.000000,-17.000000,31.000000,179.000000,203.000000,-1.000000,-15.000000,0.000000,-2.000000,2.000000,61.000000,20.000000,12.000000,17.000000,0.363000,208.000000,599.000000,-1.900000,2.900000,-0.300000,34.000000,3.300000,275.000000,372.000000,0.400000,32.000000,2157.000000,55.000000,59.000000,0.973000,457.000000,641.000000,4402.000000,23.000000,1391.000000,4.390000,3.100000,65.000000,30.000000
75%,1990.000000,1999.000000,0.000000,2.0,12.000000,1.0,0.000000,0.000000,166.000000,30.000000,3676.000000,0.273000,325.500000,29.000000,1110.000000,61.000000,971.000000,26.000000,0.341000,103.000000,0.743000,4111.000000,10.000000,128.000000,425.500000,479.500000,1.000000,10.000000,1.000000,9.000000,18.000000,137.000000,58.000000,30.000000,40.000000,0.407000,445.750000,1420.000000,0.800000,12.450000,1.500000,126.000000,12.200000,852.000000,958.000000,0.400000,134.750000,4730.000000,190.000000,123.000000,0.984000,1124.500000,1326.000000,9612.600000,54.250000,3198.000000,5.520000,4.735000,239.000000,100.000000
max,2018.000000,2021.000000,1.000000,2.0,27.000000,1.0,1.000000,1.000000,792.000000,309.000000,14053.000000,0.366000,2558.000000,335.000000,3562.000000,762.000000,4256.000000,688.000000,0.482000,206.000000,1.164000,15890.000000,1326.000000,1703.000000,2297.000000,2295.000000,144.000000,1333.000000,56.000000,294.000000,197.000000,507.000000,1406.000000,128.000000,512.000000,0.690000,2597.000000,6856.000000,125.300000,162.800000,44.200000,1624.000000,155.000000,8967.000000,5543.000000,0.600000,1459.000000,25568.000000,2044.000000,1096.000000,1.000000,5908.000000,6018.000000,50162.200000,763.000000,23767.000000,12.300000,12.250000,2546.000000,830.000000

In [39]:
features = ['retirement_age','total_seasons','play_in_mayors','play_in_negro_league','two_way_player','2B_bt',
'3B_bt','AB_bt','BA_bt','BB_bt','G_bt','HR_bt','H_bt','OBP_bt','OPS+_bt','OPS_bt','PA_bt','RAA_bt','RAR_bt','RBI_bt',
'R_bt','Rbaser_bt','Rbat_bt','Rdp_bt','Rfield_bt','Rpos_bt','Rrep_bt','SLG_bt','TB_bt','WAA_bt','WAR_bt','dWAR_bt',
'oRAR_bt','oWAR_bt','A_fd','CG_fd','Ch_fd','DP_fd','E_fd','Fld%_fd','GS_fd','G_fd','Inn_fd','PO_fd','RF/9_fd',
'RF/G_fd']

target = ['HoF']

In [40]:
batters_DF = select_features(inactive_mayors_lg_bat_df, features)

In [41]:
batters_DF.describe()

,total_seasons,play_in_mayors,play_in_negro_league,two_way_player,2B_bt,3B_bt,AB_bt,BA_bt,BB_bt,G_bt,HR_bt,H_bt,OBP_bt,OPS+_bt,OPS_bt,PA_bt,RAA_bt,RAR_bt,RBI_bt,R_bt,Rbaser_bt,Rbat_bt,Rdp_bt,Rfield_bt,Rpos_bt,Rrep_bt,SLG_bt,TB_bt,WAA_bt,WAR_bt,dWAR_bt,oRAR_bt,oWAR_bt,A_fd,CG_fd,Ch_fd,DP_fd,E_fd,Fld%_fd,GS_fd,G_fd,Inn_fd,PO_fd,RF/9_fd,RF/G_fd
count,5355.000000,5355.0,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000,5355.000000
mean,9.006909,1.0,0.016246,0.018674,113.602988,23.364706,2477.766760,0.254077,235.959290,757.647059,52.154435,664.622035,0.317620,88.588982,0.683554,2777.054528,5.812325,97.858263,306.383007,338.735387,0.216060,3.560037,-0.130532,0.949767,1.239216,91.979645,0.365939,981.417740,0.328347,9.498133,0.052923,96.871895,9.519739,769.549206,664.395145,3315.740056,175.794211,95.701027,0.963902,783.633427,943.240710,6807.365061,2450.489823,4.563483,3.606822
std,4.465213,0.0,0.126434,0.135384,116.802032,29.671495,2226.432593,0.028891,264.381095,600.482850,83.728836,643.434333,0.035952,22.801749,0.091093,2518.238335,102.383082,166.845964,331.740069,349.510644,10.147539,105.409663,5.818988,32.200679,37.705736,85.801783,0.062542,998.946085,10.259220,16.670123,5.444400,158.512179,15.873883,1196.532107,772.033303,3372.085956,286.979601,113.887110,0.032608,873.713416,894.193721,6813.610591,2923.749991,2.082866,1.959219
min,3.000000,1.0,0.000000,0.000000,0.000000,0.000000,29.000000,0.139000,1.000000,100.000000,0.000000,6.000000,0.180000,7.000000,0.349000,31.000000,-244.000000,-96.000000,0.000000,7.000000,-39.000000,-317.000000,-47.000000,-253.000000,-204.000000,0.000000,0.169000,10.000000,-21.500000,-9.800000,-28.400000,-120.000000,-15.000000,0.000000,0.000000,26.000000,0.000000,0.000000,0.721000,0.000000,33.000000,80.100000,7.000000,1.000000,0.230000
25%,5.000000,1.0,0.000000,0.000000,28.000000,5.000000,742.500000,0.236000,55.000000,270.000000,6.000000,178.000000,0.295000,73.000000,0.623000,828.000000,-38.000000,2.000000,73.000000,86.000000,-3.000000,-38.000000,-1.000000,-12.000000,-14.000000,26.000000,0.322000,248.000000,-4.000000,0.000000,-2.000000,4.000000,0.300000,90.000000,121.000000,910.000000,17.000000,24.000000,0.957000,162.500000,284.000000,1919.100000,575.000000,2.780000,2.070000
50%,8.000000,1.0,0.000000,0.000000,69.000000,12.000000,1688.000000,0.255000,138.000000,569.000000,19.000000,431.000000,0.318000,88.000000,0.683000,1866.000000,-17.000000,31.000000,179.000000,203.000000,-1.000000,-15.000000,0.000000,-2.000000,2.000000,61.000000,0.363000,599.000000,-1.900000,2.900000,-0.300000,34.000000,3.300000,275.000000,372.000000,2157.000000,55.000000,59.000000,0.973000,457.000000,641.000000,4402.000000,1391.000000,4.390000,3.100000
75%,12.000000,1.0,0.000000,0.000000,166.000000,30.000000,3676.000000,0.273000,325.500000,1110.000000,61.000000,971.000000,0.341000,103.000000,0.743000,4111.000000,10.000000,128.000000,425.500000,479.500000,1.000000,10.000000,1.000000,9.000000,18.000000,137.000000,0.407000,1420.000000,0.800000,12.450000,1.500000,126.000000,12.200000,852.000000,958.000000,4730.000000,190.000000,123.000000,0.984000,1124.500000,1326.000000,9612.600000,3198.000000,5.520000,4.735000
max,27.000000,1.0,1.000000,1.000000,792.000000,309.000000,14053.000000,0.366000,2558.000000,3562.000000,762.000000,4256.000000,0.482000,206.000000,1.164000,15890.000000,1326.000000,1703.000000,2297.000000,2295.000000,144.000000,1333.000000,56.000000,294.000000,197.000000,507.000000,0.690000,6856.000000,125.300000,162.800000,44.200000,1624.000000,155.000000,8967.000000,5543.000000,25568.000000,2044.000000,1096.000000,1.000000,5908.000000,6018.000000,50162.200000,23767.000000,12.300000,12.250000