In [27]:
#Execute this cell if have problem with relative import

import sys; sys.path.insert(0, '..')

In [28]:
from pprint import pprint

In [40]:
import pandas as pd
bat_df = pd.read_csv("../Data/Corpus_csv/batters_all_career.csv")

In [30]:
bat_df.head()

,Id,Name,Active,First year,Last year,Url,Country,Bat hand,Throw hand,Full Name,...,Fld%_fd,GS_fd,G_fd,Inn_fd,PB_fd,PO_fd,RF/9_fd,RF/G_fd,SB_fd,WP_fd
0,Aaron_Altherr_320,Aaron Altherr,False,2014,2019,https://www.baseball-reference.com//players/a/...,de,Right,Right,Aaron Samuel Altherr,...,0.989,494.0,669.0,4609.0,NaN,1068.0,2.14,1.64,0.0,NaN
1,Abe_Atkins_626,Abe Atkins,False,1923,1923,https://www.baseball-reference.com//players/a/...,us,desconocido,desconocido,Abe Atkins,...,0.000,1.0,1.0,5.0,NaN,0.0,0.00,0.00,NaN,NaN
2,Abiatal_Avelino_670,Abiatal Avelino,False,2018,2019,https://www.baseball-reference.com//players/a/...,do,Right,Right,Abiatal Avelino,...,0.955,6.0,7.0,43.2,NaN,10.0,4.38,3.00,NaN,NaN
3,Abraham_Almonte_292,Abraham Almonte,True,2013,2021,https://www.baseball-reference.com//players/a/...,do,Both,Right,Abraham Almonte,...,0.973,594.0,738.0,5299.1,NaN,1196.0,2.10,1.68,NaN,NaN
4,Adams_69,Adams,False,1942,1942,https://www.baseball-reference.com//players/a/...,desconocido,desconocido,desconocido,desconocido,...,0.000,0.0,1.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0

In [41]:
bat_df.shape

(12975, 76)

In [42]:
from Preprocessing.data_keys import headers_bio, headers_bat

In [43]:
from Preprocessing.data_frame_procces import filter_dataset

In [44]:
gt_conditions = {
    "total_seasons":3,
    'G_bt':100
}
eq_conditions = {
    "HoF type":['-','Player']
}
filter_df = filter_dataset(bat_df, eq_conditions,gt_conditions, None, None)

In [45]:
bat_df.shape

(12975, 76)

In [46]:
filter_df.shape

(6168, 76)

In [47]:
for h in headers_bat:
    nan = filter_df[h].isna().any()
    if nan:
        print(f"{h}:{nan} --->{filter_df[h].isna().sum()}")
        #print(f"{h}:{bat_df[h].isna().sum()}")

CS_bt:True --->1072
IBB_bt:True --->1519
SB_bt:True --->38
SF_bt:True --->2346
SH_bt:True --->366
SO_bt:True --->412
CS%_fd:True --->5075
CS_fd:True --->4286
PB_fd:True --->4790
SB_fd:True --->4286
WP_fd:True --->4790

In [49]:
print(filter_df['HoF'].value_counts())
filter_df['HoF type'].value_counts()

0    5972
1     196
Name: HoF, dtype: int64

-         5972
Player     196
Name: HoF type, dtype: int64

In [57]:
inactives_cond = {"Active":[False]}
inactive_bat_df = filter_dataset(filter_df, inactives_cond, None, None, None)

In [58]:
inactive_bat_df.shape

(5715, 76)

In [59]:
print(inactive_bat_df['HoF'].value_counts())
inactive_bat_df['HoF type'].value_counts()

0    5519
1     196
Name: HoF, dtype: int64

-         5519
Player     196
Name: HoF type, dtype: int64